@import url(./__logo/header__logo.css);
@import url(./__ref/header__ref.css);
@import url(./__refs/header__ref.css);
@import url(./__ref/_active/header__ref_active.css);


.header {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding-top: 28px;
    
}

@media only screen and (max-width: 1024px) {
    .header  {
        max-width: 928px;     
    }
  }

@media only screen and (max-width: 768px) {
    .header  {
        max-width: 720px;      
    }
  }

@media only screen and (max-width: 320px) {
    .header  {
        max-width: 288px;
        padding-top: 16px;     
    }
  }
