.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 56px auto;
    margin-bottom: 0;
    max-width: 720px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .lead__title {
        margin-top: 48px;
    }
  }

  @media only screen and (max-width: 680px) {
    .lead__title {
        max-width: 90vw;
        font-size: calc( (100vw - 320px)/(750 - 320) * (96 - 40) + 40px);
    }
  }

@media only screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
  }