.footer__links {
    display: flex;
    flex-direction: row;

}

@media only screen and (max-width: 555px) {
    .footer__links  {
        flex-direction: column;
        min-height: 248px;
        justify-content: space-between;
    }
  }