.cover__overlay {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1184px;
}

@media only screen and (max-width: 1184px) {
    .cover__overlay  {
        grid-template-columns: 100vw;
    }
  }

@media only screen and (max-width: 320px) {
    .cover__overlay  {
        grid-template-columns: 320px;
    }
  }