.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    min-height: 152px;
    max-width: 560px;
    margin: 0 auto;
}
/* Можно реализовать через js*/
.cover__title:hover ~ .cover__background{
    opacity: 0.3;
}

@media only screen and (max-width: 550px) {
    .cover__title  {
        font-size: 32px;
        line-height: 35px;
        min-height: 70px;
        max-width: 288px;
        margin-top: 33px;
    }
  }